
.container{
    height: 50px;
    background-color: #0984E3;
}
.main-container{
    height: 50px;
    margin: 0 20px;
}
.container-left{
    display: flex;
    align-items: center;
    height: 50px;
}
.container-right{
    display: flex;
    align-items: center;
    height: 50px;
    flex-direction: row;
    justify-content: flex-end;
}
.img{
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
}